body {
    background-color: white;
}
.task_bar {
    overflow: hidden;
    background-color: darkblue;
    position: fixed;
    top: 0;
    width: 100%;
}
.task_bar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.task_bar a:hover {
    background-color: #0b27b5;
    color: white;
}
.task_bar_active {
    background-color: #061d91;
    color: white;
}
.task_bar a {
    font-weight: bolder;
}